/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 29px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 29px;
}

.slider.round:before {
    border-radius: 50%;
}

.gray-bg{
    background-color: #c0c0c0;
    /*background-color: #d8ebf6;*/
}

.first-container{
    background-color: #f5f5f5;
    min-height: 950px;
    margin-top: 50px;
}

.navbar{
    margin-bottom: 0;
    border: none;
}

.navbar-default{
    background-color: #3097D1;
    color: white;
}

.navbar-nav>li>a{
    color: white;
}

.navbar-toggle{
    padding: 5px;
    border: none;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
    color: white;
    font-size: 16px;
}
.navbar-default .navbar-brand{
    color: white;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{*/
    /*background-color: transparent;*/
    /*color: white;*/
/*}*/

.content-box{
    padding: 0 20px 0 20px;
}

.panel{
    border-color: #ddd;
    border-radius: 3px;
}

.panel-flat>.panel-heading {
    padding-top: 20px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #2579a9;
    color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #2579a9;
    color: white;
}

.fixed {
    position: fixed;
    top:0; left:0;
    width: 100%; }

.page-header{
    margin: 15px 15px 0 15px;
    border-color: #d4d4d4;
}

.breadcrumb-line{
    border-bottom: 1px solid #eee;
}

.breadcrumb{
    margin-right: 0;
    margin-bottom: 0;
    float: left;
}

.breadcrumb-right{
    float: right;
    margin: 0;
    padding: 8px 15px;
    list-style: none;
    border-top: 0;
}

.margin-left-right{
    margin-left: 15px;
    margin-right: 15px;
    border-color: #d4d4d4;
}

.table-hover-hand {
    cursor: pointer;
}

.navbar-brand{
    padding: 0;
}

/*.navbar{*/
    /*min-height: 70px;*/
/*}*/

.switcher-label{
    margin-top: -35px;
    margin-bottom: 0;
    margin-left: 60px;
    display: block;
}

#create-new{
    padding-top: 50px;
    padding-bottom: 50px;
}

.icons-list{
    list-style: none;
}

.receipt-container{
    max-width: 400px;
    border: solid black 1px;
    padding: 8px;
    color: black;
}

.receipt-logo{
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.google-visualization-table-td{
    overflow: visible !important;

}

.google-visualization-table>div:first-child{
    overflow: inherit !important;
}

.date-picker{
    width: 90%;
}

.new-note-input{
    width: 80% !important;
}

.note-for-period{
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 100px;
}

.period-note-period{
    border: 1px solid #969494;
    padding: 8px;
    background-color: #c5e2f3;
    font-size: 110%;
}
.period-note-note{
    border: 1px solid #969494;
    margin-bottom: 10px;
    padding: 8px;
    border-top: none;
}

.bg-teal-400 {
    background-color: #3097D1;
    border-color: #3097D1;
    color: #fff;
}

.btn-labeled {
    padding-left: 48px;
    margin-top: 5px;
}

.btn-labeled>b {
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: rgba(0,0,0,0.15);
    display: block;
    padding: 8px 10px;
    font-size: 13px;
    line-height: 1.5384616;
    border-radius: 0;
}
.btn {
    position: relative;
    border-radius: 2px;
}

.btn[class*=bg-]:hover, .btn[class*=bg-]:focus, .btn[class*=bg-].focus {
    color: #fff;
}

.btn:hover, .btn:focus, .btn.focus {
    -webkit-box-shadow: 0 0 0 100px rgba(0,0,0,0.05) inset;
    box-shadow: 0 0 0 100px rgba(0,0,0,0.05) inset;
}

.fileinput{
    margin-bottom: 5px;
}

.table > tbody > tr > td {
    padding: 5px 23px !important;
}

.tooltip-okay, .tooltip-okay:hover{
    color: green;
}
.tooltip-not-sent, .tooltip-not-sent:hover{
    color: red;
}
.tooltip-storno, .tooltip-storno:hover{
    color: orange;
}

@media screen and (max-width: 650px) {
    #dashboard2_div{
        display: none;
    }
}

#control1{
    display: inline-block;
}

#control2{
    display: inline-block;
    margin-left: 15px;
}